:root{
  --transparent:rgba(0,0,0,0);
  --AlmostWhite: hsl(0, 0%, 98%);
--MediumGray: hsl(0, 0%, 41%);
--AlmostBlack: hsl(0, 0%, 8%);

}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  border:none;
  outline: none;
}
body{
  font-size: 20px;
  margin:0 auto;
  
}
nav{
  width: 90%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex:1;
  width: 90%;
}
.main-nav{
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}
.main-nav li{
  position: relative;
}

.main-nav a{
  text-decoration: none;
  display:inline-block;
  padding: .2em 1.3em;
  color: var(--AlmostBlack);
}
.btn-group{
  display: flex;
  height: 100%;
  align-items: center;
  
}
button{
  padding: .5em 1.5em;
  margin: 0 5px;
  background: var(--transparent);
  font-weight: 600;
}
.btn-group button:nth-child(2){
  border:1px solid var(--AlmostBlack);
  background: var(--AlmostWhite);
  border-radius: 10px;
}
#toggle{
  font-size:0;
  display: none;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}
.illustration{
  width: 50%;
  height: 100%;
}
.illustration img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h1{
  font-size:90px;
  max-width: 600px;
  color: var(--AlmostBlack);
}
p{
  max-width: 500px;
  font-size:20px;
  margin: 40px 0;
  color: var(--MediumGray);
  line-height: 1.5;
}
.hero button{
  background: var(--AlmostBlack);
  color: var(--AlmostWhite);
  border-radius: 10px;
  padding: 1.5em 2.7em;
  transition:all .4s ease-in-out;
  letter-spacing: 1px;
}
.hero button:hover{
  background: var(--transparent);
  border:1px solid  var(--AlmostBlack);
  color:var(--AlmostBlack);
}
.client{
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.client img{
  margin-right:40px ;
}

@media (max-width:950px){
  .client{
    justify-content: center;
  }
  .client img{
    width: 50px;
    margin: 15px;
  }
  .main-nav{
    display: none;
  }
  nav .sec-btn, nav .cta-btn{
    display: none;
  }
  nav{
    display:flex;
    justify-content: space-between;
    
  }
  #toggle{
    display: block;
    margin-left: auto;
  }
  .container{
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    text-align: center;
  }
  .illustration{
    width: 100%;
    height: 300px;
  }
  .illustration img{
    object-fit: cover;
  }
  h1{
    font-size:40px;
  }
  p{
    max-width: 400px;
  }
}